*{
    box-sizing:border-box ;
    width: 1440px;
    margin: 0;
    padding: 0;
    
}
.home{
    width: 1440px;
    height: 694px;
    top: 4px;
    left: 2px;
    background-image: url(Gold\ .png);
}
.home img{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 54px;
    left: 104px;
}
.logo img{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 54px;
    left: 104px;
}
.navbar{
    width: 519px;
    height: 20px;
    position: absolute;
    top: 91px;
    left: 460px;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    margin: 25px;
    font-size: 0.95em;   
}
.login{
    border: 2px solid;
    border-image: linear-gradient(#FCF6D1, #BD9457, #E3CA89, #FEE8C8, #4D3A1A, #FCF0D1);
    border-image-slice: 1;
    color: #4D3A1A;
    background-color: transparent; 
    color: white; 
    width: 100px;
    height: 40px;
    position: absolute;
    top: 79px;
    left: 1089px;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
     
}
.started{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.06em;
    background: linear-gradient(#FCF6D1 0%, #caa265 6.42%, #E3CA89 25%, #FEE8C8 69.79%,  #dcc079 100%);
    border: 2px solid #BD9457; 
    font-size: 0.9em;
    font-weight: bold;
    color: black; 
    padding: 10px 10px;
    position: absolute;
    width: 118px;
    height: 40px;
    top: 80px;
    left: 1222px;
    cursor: pointer;
}
.content{
    width: 528px;
    height: 85px;
    position: absolute;
    top: 405px;
    left: 456px;
    border: 1px;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
.explore{
    width: 100px;
    height: 100px;
    position:absolute;
    top: 525px;
    left: 570px;
}
.icons img{
    position: absolute;
    width: 20px;
    height: 141px;
    top: 335px;
    left: 1318px;

}
.about{
    
    background-color: #02000E;    
    width: 1440px;
    height: 694px;

}

.about img{
   
    position: absolute;
    width: 579px;
    height: 191px;
    top: 917px;
    left: 430px;

}
.about p{
    width: 938px;
    height: 324px;
    position: absolute;
    top: 1063px;
    left: 251px;
    color: #FFFFFFCF;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;


}